.general-login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-card-title {
  margin-bottom: 7%;
}
mat-card {
  height: 40%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
mat-card-content {
  width: 50%;
}
mat-form-field{
    width: 100%;
}
form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
p {
  width: 100%;
}
.p-password{
    margin-bottom: 10%;
}