<div class="general-login-container">
<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form >
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder= "Username" required>
                </mat-form-field>
            </p>
            <p class="p-password">
                <mat-form-field >
                    <input type="password" matInput placeholder= "Password" required>
                </mat-form-field>
            </p>
            <button type="submit" mat-raised-button color="primary">Login</button>
        </form>
    </mat-card-content>
</mat-card>
</div>