.footer{
    background-color: var(--first-color);
    bottom: 0;
}

.footer_container{
    padding: 2rem 0 6rem;
}

.footer_title .footer_link{
    color: var(--body-color);
}

.footer_title{
    text-align: center;
    margin-bottom: 1rem;
}

.footer_subtitle{
    margin-bottom: 2rem;
    color: var(--title-color);
    text-align: center;
}

.footer_list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer_social{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
}

.footer_social-link{
    background-color: var(--body-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: 1rem;
    display: inline-flex;
}

.footer_copy{
    display: block;
    margin-top: 4.5rem;
    color: var(--container-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}

@media screen and (min-width: 568px){
    .footer_container{
        padding: .5rem 0 .5rem;
    }

    .footer_title{
        margin-bottom: .5rem;
    }
    
    .footer_subtitle{
        margin-bottom: 1rem;    
    }

    .footer_list{
        margin-bottom: 1rem;
    }

    .footer_copy{
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1024px){

}