<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav_logo">TECH Fake</a>

        <div class="nav_menu" id="nav-menu">
            <ul class="nav_list grid">
                <li class="nav_item">
                    <a href="#home" id="homeA" class="nav_link">
                        <i class="uil uil-home nav_icon"></i>Home
                    </a>
                </li>
                <li class="nav_item">
                    <a href="#projects" id="projectsA" class="nav_link">
                        <i class="uil uil-folder-open nav_icon"></i>Projects
                    </a>
                </li>
                <li class="nav_item">
                    <a href="#contactUs" id="contactUsA" class="nav_link">
                        <i class="uil uil-message nav_icon"></i>Contact Us
                    </a>
                </li>
            </ul>
        </div>

        <!-- GitHub button -->
        <a href="https://github.com/KevinGarita/TECH-Fake.git" target="_blank" class="nav_github"><i class="uil uil-github"></i></a>
    </nav>
</header>
