<div class="general-register-container">
  <mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <form>
        <p>
          <mat-form-field>
            <input type="email" [(ngModel)]="email" matInput placeholder="Email" required name="email"/>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="text" [(ngModel)]="username" matInput placeholder="Username" required name="username"/>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input id= "password"type="password" [(ngModel)]="password" matInput placeholder="Password" required name="password" />
          </mat-form-field>
        </p>

        <button type="submit" mat-raised-button color="primary" (click)="postCustomer()" >Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
