<h2 mat-dialog-title class="mb-1">Create Manga</h2>
<hr class="m-0" />
  <mat-card-content>
      <form  name="customerForm">
          <p>
              <mat-form-field>
                  <input id="id_card" type="text" [(ngModel)]="id_card"  matInput placeholder= "ID Card" required name="id_card">
              </mat-form-field>
          </p>
          <p>
              <mat-form-field >
                  <input type="text" [(ngModel)]="name"  matInput placeholder= "Name" required name="name">
              </mat-form-field>
          </p>
          <button type="submit"  mat-raised-button color="primary">Create</button>
      </form>
  </mat-card-content>

