<div class="parent">
  <div class="sidebar" [ngClass]="isVisibleSidebar ? '' : 'hide'">
    <div class="sidebar-header">
      <h2>FakeShop</h2>
    </div>
    <div class="menu">
      <ul>
        <li class="item">
          <a [routerLink]="['../shop']">
            <span>Home</span>
          </a>
        </li>
        <li class="item">
          <a routerLink="mangas">
            <span>Mangas</span>
          </a>
        </li>
        <li class="item">
          <a routerLink="figures">
            <span>Figures</span>
          </a>
        </li>
        <li class="item">
          <a routerLink="souvenirs">
            <span>Souvenirs</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="topbar" [ngClass]="isVisibleSidebar ? '' : 'topbar-no-sidebar'">
    <button *ngIf="!isVisibleSidebar" mat-icon-button (click)="showSidebar()">
      <i class="fa-solid fa-caret-right"></i>
    </button>
    <button *ngIf="isVisibleSidebar" mat-icon-button (click)="hideSidebar()">
      <i class="fa-solid fa-caret-left"></i>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button>
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </button>
  </div>
  <div class="content" [ngClass]="isVisibleSidebar ? '' : 'content-no-sidebar'">
    <router-outlet></router-outlet>
  </div>
</div>
