<div>
    <div class="video_div">
      <video
        autoplay
        muted
        loop
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
        id="myVideo"
      >
        <source src="assets/img/videoloop.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.
      </video>
      <div class="centered">
        <h1>We are ready to work with u</h1>
        <div class="extratext">
          <p>
            If you are looking development and security, you are in the right
            place
          </p>
        </div>
      </div>
    </div>
    <div class="info_aboutus">
      <p>Discover a fast and efficient company that develop the aplication that you have in mind for your company.</p> 
    </div>
</div>
  