<h2 *ngIf="isCreate" mat-dialog-title>Add new figure</h2>
<h2 *ngIf="!isCreate" mat-dialog-title>Edit figure</h2>

<mat-dialog-content>

  <form #figureForm="ngForm">

    <mat-form-field class="w-100">
      <mat-label>Name</mat-label>
      <input matInput required name="name" [(ngModel)]="figureModel.name">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Description</mat-label>
      <input matInput required name="description" [(ngModel)]="figureModel.description">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Price</mat-label>
      <input matInput required type="number" name="price" [(ngModel)]="figureModel.price" min="0">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Stock</mat-label>
      <input matInput required type="number" name="stock" [(ngModel)]="figureModel.stock" min="0">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>State</mat-label>
      <mat-select [(ngModel)]="figureModel.id_state" name="state" required>
        <mat-option *ngFor="let state of states" [value]="state.id_state">
          {{state.state}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="figureModel.id_category" name="category" required>
        <mat-option *ngFor="let category of categories" [value]="category.id_category">
          {{category.category}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Franchise</mat-label>
      <mat-select [(ngModel)]="figureModel.id_franchise" name="franchise" required>
        <mat-option *ngFor="let franchise of franchises" [value]="franchise.id_franchise">
          {{franchise.franchise}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Image Url</mat-label>
      <input matInput required name="image_url" [(ngModel)]="figureModel.image_url">
    </mat-form-field>

    <div *ngIf="figureModel.image_url" class="center">
      <img src="{{figureModel.image_url}}" alt="Image Url" class="image">
    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button *ngIf="isCreate" mat-button [disabled]="!figureForm.valid">Add</button>
  <button *ngIf="!isCreate" mat-button [disabled]="!figureForm.valid">Edit</button>
</mat-dialog-actions>
